[user]
	name =
	email =
[credential]
	helper = osxkeychain
# Enforce SSH
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[branch]
	autosetuprebase = always
[push]
	default = simple
[commit]
	template = ~/.gitcommit.txt
[core]
  editor = code --wait
